.root {
	display: flex;
	justify-content: center;
	align-items: center;
	.contactsHeading {
		text-align: center;
	}
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
		padding: 30px;

		&Image {
			position: relative;
			width: 80%;
			padding: 0 0 90% 0;
			margin: 0 0 20px 0;

			& img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}

		&Text {
			p {
				margin-bottom: 15px;
			}
		}
  }
}
